In [1]:
import pandas as pd

In [3]:
df= pd.read_csv("all_seasons.csv")
df

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12300,12300,Markieff Morris,MIA,32.0,205.74,111.130040,Kansas,USA,2011,1,...,7.6,2.6,1.4,4.5,0.059,0.089,0.197,0.547,0.116,2021-22
12301,12301,Markelle Fultz,ORL,24.0,193.04,94.800728,Washington,USA,2017,1,...,10.8,2.7,5.5,-5.3,0.010,0.116,0.265,0.517,0.448,2021-22
12302,12302,Marcus Smart,BOS,28.0,193.04,99.790240,Oklahoma State,USA,2014,1,...,12.1,3.8,5.9,9.3,0.018,0.093,0.179,0.540,0.245,2021-22
12303,12303,Marcus Garrett,MIA,23.0,195.58,92.986360,Kansas,USA,Undrafted,Undrafted,...,1.1,1.9,0.6,5.8,0.072,0.108,0.086,0.280,0.069,2021-22
12304,12304,Micah Potter,DET,24.0,208.28,112.490816,Wisconsin,USA,Undrafted,Undrafted,...,4.0,3.0,0.0,-56.4,0.095,0.125,0.148,0.505,0.000,2021-22

# Dictionary

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12305 entries, 0 to 12304
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         12305 non-null  int64
 1   player_name        12305 non-null  object
 2   team_abbreviation  12305 non-null  object
 3   age                12305 non-null  float64
 4   player_height      12305 non-null  float64
 5   player_weight      12305 non-null  float64
 6   college            12305 non-null  object
 7   country            12305 non-null  object
 8   draft_year         12305 non-null  object
 9   draft_round        12305 non-null  object
 10  draft_number       12305 non-null  object
 11  gp                 12305 non-null  int64
 12  pts                12305 non-null  float64
 13  reb                12305 non-null  float64
 14  ast                12305 non-null  float64
 15  net_rating         12305 non-null  float64
 16  oreb_pct           12305 non-null  float64
 17  dreb_pct           12305 non-null  float64
 18  usg_pct            12305 non-null  float64
 19  ts_pct             12305 non-null  float64
 20  ast_pct            12305 non-null  float64
 21  season             12305 non-null  object
dtypes: float64(12), int64(2), object(8)
memory usage: 2.1+ MB

# Jumlah Record Dataset , Nama Attribute , Jumlah Objek , Jumlah Angka , Jumlah Null

In [5]:
print("Jumlah Record Dataset = ", info['Jumlah Record Dataset'])
print("\n Nama Attribute = ", info['Nama Attribute'])
print("\n Jumlah Objek = ", info["Jumlah Objek"])
print("\n Jumlah Angka = ", info["Jumlah Angka"])
print("\n Jumlah Null = ", info["Jumlah Null"])

Jumlah Record Dataset =  12305

 Nama Attribute =  ['Unnamed: 0' 'player_name' 'team_abbreviation' 'age' 'player_height'
 'player_weight' 'college' 'country' 'draft_year' 'draft_round'
 'draft_number' 'gp' 'pts' 'reb' 'ast' 'net_rating' 'oreb_pct' 'dreb_pct'
 'usg_pct' 'ts_pct' 'ast_pct' 'season']

 Jumlah Objek =  Index(['player_name', 'team_abbreviation', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'season'],
      dtype='object')

 Jumlah Angka =  Index(['Unnamed: 0', 'age', 'player_height', 'player_weight', 'gp', 'pts',
       'reb', 'ast', 'net_rating', 'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct',
       'ast_pct'],
      dtype='object')

 Jumlah Null =  Index([], dtype='object')

# Rata-rata , standar deviasi , nilai minimum , nilai maksimum, Q1,Q2,Q3 dari attribute bertipe angka

In [6]:
df.describe()

,Unnamed: 0,age,player_height,player_weight,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct
count,12305.000000,12305.000000,12305.000000,12305.000000,12305.000000,12305.000000,12305.000000,12305.000000,12305.000000,12305.000000,12305.000000,12305.000000,12305.000000,12305.000000
mean,6152.000000,27.084518,200.611602,100.369926,51.290532,8.172775,3.559155,1.813986,-2.255733,0.054473,0.141014,0.184891,0.511060,0.131358
std,3552.291866,4.335868,9.146321,12.477150,25.095909,5.974957,2.483550,1.794155,12.673254,0.043599,0.062704,0.053390,0.101163,0.094483
min,0.000000,18.000000,160.020000,60.327736,1.000000,0.000000,0.000000,0.000000,-250.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3076.000000,24.000000,193.040000,90.718400,31.000000,3.600000,1.800000,0.600000,-6.400000,0.021000,0.096000,0.149000,0.480000,0.066000
50%,6152.000000,26.000000,200.660000,99.790240,57.000000,6.700000,3.000000,1.200000,-1.300000,0.041000,0.131000,0.181000,0.524000,0.103000
75%,9228.000000,30.000000,208.280000,108.862080,73.000000,11.500000,4.700000,2.400000,3.200000,0.084000,0.180000,0.217000,0.561000,0.178000
max,12304.000000,44.000000,231.140000,163.293120,85.000000,36.100000,16.300000,11.700000,300.000000,1.000000,1.000000,1.000000,1.500000,1.000000

# Nilai Korelasi

In [12]:
df.corr()

,Unnamed: 0,age,player_height,player_weight,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct
Unnamed: 0,1.000000,-0.132799,-0.056464,-0.072682,-0.083579,0.039607,-0.001822,0.021699,-0.004113,-0.162082,0.002365,-0.049260,0.139735,-0.002232
age,-0.132799,1.000000,-0.008954,0.058544,0.055218,0.008118,0.035623,0.090209,0.091746,-0.057147,0.018330,-0.119416,0.025175,0.066766
player_height,-0.056464,-0.008954,1.000000,0.825421,0.002202,-0.056564,0.423275,-0.449033,-0.002877,0.589485,0.614963,-0.104714,0.072154,-0.614631
player_weight,-0.072682,0.058544,0.825421,1.000000,0.019652,-0.026664,0.437930,-0.378784,0.004043,0.600643,0.607045,-0.067385,0.068142,-0.529440
gp,-0.083579,0.055218,0.002202,0.019652,1.000000,0.539066,0.470948,0.385836,0.253262,-0.016396,0.067266,0.146806,0.375816,0.133982
pts,0.039607,0.008118,-0.056564,-0.026664,0.539066,1.000000,0.624889,0.660949,0.218366,-0.123674,0.054804,0.638853,0.376571,0.332815
reb,-0.001822,0.035623,0.423275,0.437930,0.470948,0.624889,1.000000,0.241018,0.190940,0.407976,0.612226,0.230552,0.314569,-0.069771
ast,0.021699,0.090209,-0.449033,-0.378784,0.385836,0.660949,0.241018,1.000000,0.165098,-0.340600,-0.198130,0.392533,0.176083,0.802527
net_rating,-0.004113,0.091746,-0.002877,0.004043,0.253262,0.218366,0.190940,0.165098,1.000000,0.060166,0.051433,0.018866,0.316474,0.066176
oreb_pct,-0.162082,-0.057147,0.589485,0.600643,-0.016396,-0.123674,0.407976,-0.340600,0.060166,1.000000,0.556096,-0.099069,0.061805,-0.428527
dreb_pct,0.002365,0.018330,0.614963,0.607045,0.067266,0.054804,0.612226,-0.198130,0.051433,0.556096,1.000000,-0.012817,0.107036,-0.325083
usg_pct,-0.049260,-0.119416,-0.104714,-0.067385,0.146806,0.638853,0.230552,0.392533,0.018866,-0.099069,-0.012817,1.000000,0.123368,0.335210
ts_pct,0.139735,0.025175,0.072154,0.068142,0.375816,0.376571,0.314569,0.176083,0.316474,0.061805,0.107036,0.123368,1.000000,0.025034
ast_pct,-0.002232,0.066766,-0.614631,-0.529440,0.133982,0.332815,-0.069771,0.802527,0.066176,-0.428527,-0.325083,0.335210,0.025034,1.000000

# Mengubah Nilai Bilangan Bulat Ke Desimal

In [8]:
df.select_dtypes(["int64"])*0.001

       Unnamed: 0     gp
0           0.000  0.055
1           0.001  0.015
2           0.002  0.009
3           0.003  0.064
4           0.004  0.027
...           ...    ...
12300      12.300  0.017
12301      12.301  0.018
12302      12.302  0.071
12303      12.303  0.012
12304      12.304  0.003

[12305 rows x 2 columns]

# 10 Record Awal Dari Attribute Bertipe Angka

In [9]:
angka = df.select_dtypes(["int64"])
angka.head(10)

   Unnamed: 0  gp
0           0  55
1           1  15
2           2   9
3           3  64
4           4  27
5           5  52
6           6  80
7           7  77
8           8  71
9           9  82

# Simpan Dataset Attribute Yang Bertipe Angka

In [10]:
df[{"player_height"}].to_csv("player_height.csv")

C:\Users\user\AppData\Local\Temp\ipykernel_5268\3654814888.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df[{"player_height"}].to_csv("player_height.csv")